html {
  height: 100%;
}

body {
  background-color: #DCEED1;
  color: #3C5029;
  font-family: 'Jua', sans-serif;
  min-height: 100%;
  margin: 0;
}

h1 {
text-align:center;
}

h2 {

}

h3 {

}

p {

}

a {

}

nav {
}
